.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.carousel-item img {
  height: 500px
}

.event-img {
  height: 250px;
  width: 100%;
  object-fit: contain;
}


.profile-body {
  /* text-align: center; */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR6ao9ZTPbGBvMswBqQAzme-bfVTprPo3dXm4MiRIfD5ikwhAg1&usqp=CAU");
}

.show-body {
  text-align: center;
  background-image: url("https://www.vippng.com/png/detail/361-3612977_website-background-png-tech-background-image-for-website.png");
}

.login-image {
  object-fit: none;
  object-position: center;
  width: 100%;
  height: 550px
}

.logo {
  width: 50px;
  height: 50px;
}

.bg-color-white {
  /* background-color: #e0e2e4; */
}

.bg-color-dimgray {
  /* background-color: rgb(253, 227, 227); */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR6ao9ZTPbGBvMswBqQAzme-bfVTprPo3dXm4MiRIfD5ikwhAg1&usqp=CAU");
}
.profile-img {
  width: 80%;
  margin-bottom: 50px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vh-80 {
  min-height: 80vh;
}